:root {
  --primary-color: sienna;
  --secondary-color: rgb(239, 158, 121);
  --heading-font-family: "Lobster", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 116px;
  color: var(--primary-color);
  font-family: var(--heading-font-family);
}
h2 {
  font-size: 32px;
}
p {
  font-size: 18px;
  line-height: 1.7;
}
.active {
  background: var(--secondary-color);
  text-align: center;
  height: 75vh;
  padding: 120px 0;
}
.active p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-color);
  font-family: "Cormorant Garamond", serif;
}
.active h2 {
  font-size: 24px;
  opacity: 0.5;
  font-family: "Cormorant Garamond", serif;
}
.btn-branding {
  border-radius: 22px;
  font-size: 18px;
  background-color: saddlebrown;
  color: var(--secondary-color);
  padding: 12px 20px;
}
